<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272551736939-1hgjed44rep6qbsek8tfsr8k0qn8p4ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272551736939-1hgjed44rep6qbsek8tfsr8k0qn8p4ou</string>
	<key>API_KEY</key>
	<string>AIzaSyBd5jtfsjbQI3INMTd3yx6vC62AhKaqQQw</string>
	<key>GCM_SENDER_ID</key>
	<string>272551736939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dappface</string>
	<key>PROJECT_ID</key>
	<string>dapp-face</string>
	<key>STORAGE_BUCKET</key>
	<string>dapp-face.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272551736939:ios:3d8803774bc55e6dc6a32e</string>
</dict>
</plist>